<app-header-merged/>


<div id="tblinfo">
        
    <table id="fir" width="auto">
        <thead>
            <tr>
                <th class="logo" rowspan="2" > <img src="https://res.cloudinary.com/dk5cr6qga/image/upload/v1712349324/fgpjrap6buflvvjexshz.jpg" alt="logo"></th>
                <th id="heading1" colspan="29">Latthe Education Society's Polytechnic, Sangli</th>
            </tr>
            <tr>
                <th id="heading2" colspan="29">POLYTECHNIC KUPWAD MIDC</th>
            </tr>
            <tr><th class="rln" rowspan="2">Sr No.</th>
                <th class="stn" rowspan="2">Subject Name</th>
                <th colspan="2">UT Marks</th>
                <th class="rnk" rowspan="2">Rank</th>
            </tr>
            <tr>
        
                <th class="utm">UT 1</th>
                <th class="utm">UT 2</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
            <tr>
                <td>23</td>
                <td>manas</td>
                <td>21</td>
                <td>23</td>
                <td>4</td>
            </tr>
        </tbody>
    </table>
</div>
<button id="down_btn" (click)="downloadPDF()">Download as PDF</button>